@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  color: #fff;
  line-height: 130%;
}

h2 {
  font-size: 2.5rem;
  padding-bottom: .5rem;
  font-weight: 500;
}

h3 {
  background-image: linear-gradient(90deg, #4d78ef, #709df7, #7ed4fd);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1.25rem;
}

p {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

/* Container */
.container {
  line-height: 1.4;
  margin: 0 auto;
  padding: 2rem 2.5rem;
  text-align: center;
}

/* Hero */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.hero:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/hero.png');
  background-size: cover;
  background-position: center;
}

.hero p {
  color: #303030;
}

/* Header */
.header {
  background-image: linear-gradient(90deg, #4d78ef, #709df7, #7ed4fd);
  font-size: 1.25rem;
  font-weight: 500;
  border: solid .063rem;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.header span {
  justify-content: center;
}

.market {
  font-family: 'Inter', sans-serif;
  background-color: #303030;
  color: #fff;
}

/* Market */
.market ul {
  font-size: 1.125rem;
  font-weight: 500;
}

.market li {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  list-style: none;
  padding-top: .75rem;
  padding-bottom: .75rem;
  border-top: solid .063rem;
}

.market span {
  display: flex;
  align-items: center;
  gap: .5rem;
  width: 100%;
}

.market img {
  height: 2.5rem;
  width: auto;
}

.benefits {
  font-family: 'Inter', sans-serif;
  background-color: #303030;
  color: #fff;
}

/* Benefits */
.container--benefits {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.benefits--content {
  background-color: hsla(0, 0%, 100%, .05);
  border: solid .063rem;
  border-radius: .5rem;
  text-align: center;
  padding: 1rem;
}

.benefits--content img {
  height: 4rem;
  width: auto;
  display: block;
  margin: 0 auto;
}

.benefits--content p {
  margin-top: .5rem;
}
